html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.index-container {
  height: 100vh;
}
.sidebar {
  min-width: 250px;
}
.chat-area {
  flex-grow: 1;
}
.room-list {
  list-style: none;
  padding: 0;
}
.room-list li.active {
  background-color: #bfdbfe;
  font-weight: 500;
}
